{% extends "index.html" %}
{% set userNameCurrent=user %}
{% block contractors_formTemp %}

<link rel="stylesheet" href="../static/css/accordion.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="main-panel">
	<div class="content">
		<div class="page-inner">

			<!-- --------------------------------------------breadcrump -->
			<div class="page-header">
				<h4 class="page-title">Contractor Database</h4>

				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Communication & Status</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Contractor Database</a>
					</li>

				</ul>

			</div>
			<!-- --------------------------------------------breadcrump -->


			<!-- -----------------------------------------------------content area -->
	<div class="row">
				<div class="col-md-12 ml-auto mr-auto">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Contractors Book</div>
						</div>

						<div class="card-body">
							<div id="accordion-nine" class="accordion accordion-active-header">
								<div class="accordion__item">
									<div class="accordion__header collapsed" data-toggle="collapse"
									data-target="#active-header_collapseOne">
									<span class="accordion__header--icon"></span>
									<span class="accordion__header--text">Create</span>
									<span class="accordion__header--indicator"></span>
								</div>
								<div id="active-header_collapseOne" class="collapse accordion__body"
								data-parent="#accordion-nine">
								<div class="accordion__body--text">
									<div class="basic-form">
										<form class="" method="POST" action="{{url_for('save_contractor_information')}}"id="ascf" name="wform">
											{{form.csrf_token}}
											<fieldset class="sec1 row">
												<div class="input-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2">
													{{form.cont_fname(class=formclass)}}
												</div>

												<div class="input-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2">
													{{form.cont_lname(class=formclass)}}
												</div>

												<div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
													{{form.cont_mobile(class=formclass)}}
												</div>

												<div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
													{{form.cont_email(class=formclass)}}
												</div>

												<div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
													{{form.cont_addrs(class=formclass)}}
												</div>

												<div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
													{{form.cont_city(class=formclass)}}
												</div>

												<div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
													{{form.cont_con(class=formclass)}}
												</div>

												<div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
													{{form.cont_state(class=formclass)}}
												</div>

												<div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
													{{form.cont_zip(class=formclass)}}
												</div>

											</fieldset>

											<div class="form-group col-lg-12 text-left mb-2 mt-2 pl-0">
												<button type="Submit" class="btn btn-primary">Submit</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</div>
	</div>

	<!-- =====================================search block -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-header">
                  <div class="card-title">Search Block</div>
              </div>

              <div class="card-body">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <div class="basic-form">
                          <form class="mr-3" method="POST" action="/search_cont_records/1">
                          {{form_fname.csrf_token}}
                        <div class="row">
                          <div class="input-group ml-3 mr-1">
                            {{form_fname.searchbyFName(class=formclass)}}
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-gray"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <div class="basic-form">
                          <form class="mr-3" method="POST" action="/search_cont_records/2">
                          {{form_mobile.csrf_token}}
                          <div class="row">
                            <div class="input-group ml-3 mr-1">
                              {{form_mobile.searchbyMobile(class=formclass)}}
                              <div class="input-group-append">
                                <button type="submit" class="btn btn-gray"><i class="fa fa-search" aria-hidden="true"></i></button>
                              </div>
                            </div>
                          </div>
                          </form>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <div class="basic-form">
                          <form class="mr-3" method="POST" action="/search_cont_records/3">
                          {{form_city.csrf_token}}
                        <div class="row">
                          <div class="input-group ml-3 mr-1">
                            {{form_city.searchbyCity(class=formclass)}}
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-gray"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <div class="basic-form">
                          <form class="mr-3" method="POST" action="/search_cont_records/4">
                          {{form_state.csrf_token}}
                        <div class="row">
                          <div class="input-group ml-3 mr-1">
                            {{form_state.searchbyState(class=formclass)}}
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-gray"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>

                  <div class="form-row">
               		<div class="form-group col-md-3">
                       <div class="basic-form">
                       <a href="{{url_for('WF_orderWrapper')}}" method="GET" class="btn btn-primary">All</a>
                       </div>
                   	</div>
               </div>

              </div>
            </div>
          </div>
          </div>
      	</div>

		<div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Order Details</div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table header-border table-hover vertical-middle table-responsive-sm">
                        <thead class="thead-light">
                            <tr class="text-left">
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Mobile Number</th>
                                <th scope="col">Email</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Country</th>
                                <th scope="col">Zip Code</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody id="order_data">
                        	{% if consList %}
                            {% for c in consList %}
                            <tr class="text-center">
                            	<td>{{c['contractor_first_name']}}</td>
                                <td>{{c['contractor_last_name']}}</td>
                                <td>{{c['contractor_mobile_number']}}</td>
                                <td>{{c['contractor_email']}}</td>
                                <td>{{c['contractor_address']}}</td>
                                <td>{{c['contractor_city']}}</td>
                                <td>{{c['contractor_state']}}</td>
                                <td>{{c['contractor_country']}}</td>
                                <td>{{c['contractor_zip_code']}}</td>
                                <td>
                                    <div class="sweetalert row">
                                        <span>
                                            <a href="/edit_cont_data/{{c['contractor_id']}}" method="POST" class=""
                                                data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                    class="fa fa-pencil color-muted"></i></a>

                                            <a href="#"  data-toggle="modal" data-target="#collapse_deleteContractor{{c['contractor_id']}}"><i class="fa fa-close text-danger color-danger"></i></a>

                                            <div class="modal fade" id="collapse_deleteContractor{{c['contractor_id']}}" tabindex="-1"
                                                role="dialog" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete
                                                                </h5>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to permanently remove this item??
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                data-dismiss="modal">Close</button>
                                                            <a href="/deleteCont/{{c['contractor_id']}}" method="GET"
                                                                class="btn btn-primary">Confirm</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /# card -->
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>

                       
                    </table>
                </div>
                </div>
              </div>
            </div>
        </div>


</div>
</div>
</div>

{% endblock %}